@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop-blur-sm {
  overflow: auto;
}

table, th, td {
  border: 1px solid black;
}

td {
  text-align: center;
}

button {
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

.card {
  padding: 20px;
  justify-content: center;
  display: flex;
  gap: 20;
  flex-wrap: wrap; 
  cursor: pointer;
  align-items: center;
}

.flex-wrap {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
}

.text {
  text-align: center; 
  margin-bottom: 10px;
}

.animalList {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}